[submodule "contools"]
  path = _externals/contools
  url = https://github.com/andry81/contools
  branch = master
  fetchRecurseSubmodules = false
  update = none

[submodule "contools--notepadplusplus"]
  path = _externals/contools--notepadplusplus
  url = https://github.com/andry81/contools--notepadplusplus
  branch = master

[submodule "tacklelib"]
  path = _externals/tacklelib
  url = https://github.com/andry81/tacklelib
  branch = master
  fetchRecurseSubmodules = false
  update = none

[submodule "gitcmd"]
  path = _externals/gitcmd
  url = https://github.com/andry81/gitcmd
  branch = master

[submodule "svncmd"]
  path = _externals/svncmd
  url = https://github.com/andry81/svncmd
  branch = master
  fetchRecurseSubmodules = false
  update = none

[submodule "fpwestlake-conutils"]
  path = _externals/fpwestlake-conutils
  url = https://github.com/andry81-3dparty/external-tools--fpwestlake-conutils
  branch = 20010118

[submodule "gnuwin32"]
  path = _externals/gnuwin32
  url = https://github.com/andry81-3dparty/external-tools--gnuwin32
  branch = 20101227

[submodule "7zip"]
  path = _externals/7zip
  url = https://github.com/andry81-3dparty/external-tools--7zip
  branch = 22_01_release

[submodule "hashdeep"]
  path = _externals/hashdeep
  url = https://github.com/andry81-3dparty/external-tools--hashdeep
  branch = 4_4_release

[submodule "sqlite3"]
  path = _externals/sqlite
  url = https://github.com/andry81-3dparty/external-tools--sqlite3
  branch = 3_15_0_release

[submodule "sysinternals"]
  path = _externals/sysinternals
  url = https://github.com/andry81-3dparty/external-tools--sysinternals
  branch = 20230412

[submodule "xmlstarlet"]
  path = _externals/xmlstarlet
  url = https://github.com/andry81-3dparty/external-tools--xmlstarlet
  branch = 1_6_1_release
