* text=auto !eol
._install/__init__.bat -text
._install/_install.detect.totalcmd.bat -text
._install/_install.detect_3dparty.araxismerge.bat -text
._install/_install.detect_3dparty.conemu.bat -text
._install/_install.detect_3dparty.notepadpp.bat -text
._install/_install.detect_3dparty.notepadpp.pythonscript_plugin.bat -text
._install/_install.detect_3dparty.winmerge.bat -text
._install/_install.totalcmd.tacklebar_config.bat -text
._install/_install.update.terminal_params.bat -text
.github/FUNDING.yml -text
/Issues.txt -text
/README.md -text
/README_EN.txt -text
/TODO.txt -text
__init__/__init__.bat -text
__init__/__init__.sh -text
_config/_common/config.0.vars.in -text
_config/config.system.vars.in -text
_config/winxp/config.0.vars.in -text
/_install-fonts.bat -text
/_install.bat -text
/changelog.txt -text
deploy/.saveload/file_lists/.empty -text
deploy/.saveload/tabs/.empty -text
deploy/doublecmd/ButtonBars/terminal/terminal6432.xml -text
deploy/doublecmd/Profile/buttonbar6432.xml.in -text
deploy/fonts/TerminalVector/TerminalVector.sfd -text
deploy/fonts/TerminalVector/TerminalVector.ttf -text
deploy/fonts/TerminalVector/TerminalVector.txt -text
deploy/fonts/Terminus[!!-~]TTF/COPYING -text
deploy/fonts/Terminus[!!-~]TTF/TerminusTTFWindows-4.47.0.ttf -text
deploy/fonts/Terminus[!!-~]TTF/TerminusTTFWindows-Bold-4.47.0.ttf -text
deploy/fonts/Terminus[!!-~]TTF/TerminusTTFWindows-Bold-Italic-4.47.0.ttf -text
deploy/fonts/Terminus[!!-~]TTF/TerminusTTFWindows-Italic-4.47.0.ttf -text
deploy/fonts/Terminus/AUTHORS -text
deploy/fonts/Terminus/CHANGES -text
deploy/fonts/Terminus/OFL.TXT -text
deploy/fonts/Terminus/ao2.txt -text
deploy/fonts/Terminus/dv1.txt -text
deploy/fonts/Terminus/fcpw.exe -text
deploy/fonts/Terminus/ge2.txt -text
deploy/fonts/Terminus/gq2.txt -text
deploy/fonts/Terminus/hi2-dv1.txt -text
deploy/fonts/Terminus/hi2-ka2.txt -text
deploy/fonts/Terminus/hi2.txt -text
deploy/fonts/Terminus/ij1.txt -text
deploy/fonts/Terminus/ka2.txt -text
deploy/fonts/Terminus/ll2.txt -text
deploy/fonts/Terminus/td1.txt -text
deploy/fonts/Terminus/terminus.fon -text
deploy/notepad++/plugins/PythonScript/Config/PythonScriptStartup.cnf -text
deploy/totalcmd/ButtonBars/_common/_menu.bar -text
deploy/totalcmd/ButtonBars/_common/compare/compare.bar -text
deploy/totalcmd/ButtonBars/_common/compare/compare_paths_to_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/copy/copy.bar -text
deploy/totalcmd/ButtonBars/_common/copy/git_or_shell_copy_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/copy/git_or_shell_copy_paths_by_selection_list.bar -text
deploy/totalcmd/ButtonBars/_common/copy/git_or_shell_cygwin_copy_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/copy/git_or_shell_msys_copy_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/copy/git_or_shell_xcopy_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/copy/shell_copy_file_to_files_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/copy/shell_copy_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/copy/shell_copy_paths_by_selection_list.bar -text
deploy/totalcmd/ButtonBars/_common/copy/shell_cygwin_copy_file_to_files_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/copy/shell_cygwin_copy_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/copy/shell_msys_copy_file_to_files_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/copy/shell_msys_copy_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/copy/shell_xcopy_file_to_files_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/copy/shell_xcopy_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/copy/svn_or_shell_copy_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/copy/svn_or_shell_copy_paths_by_selection_list.bar -text
deploy/totalcmd/ButtonBars/_common/copy/svn_or_shell_cygwin_copy_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/copy/svn_or_shell_msys_copy_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/copy/svn_or_shell_xcopy_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/create/create.bar -text
deploy/totalcmd/ButtonBars/_common/create/create_dirs_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/create/create_empty_files_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/move/git_or_shell_cygwin_move_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/move/git_or_shell_move_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/move/git_or_shell_move_paths_by_selection_list.bar -text
deploy/totalcmd/ButtonBars/_common/move/git_or_shell_msys_move_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/move/git_or_shell_xmove_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/move/move.bar -text
deploy/totalcmd/ButtonBars/_common/move/shell_cygwin_move_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/move/shell_move_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/move/shell_move_paths_by_selection_list.bar -text
deploy/totalcmd/ButtonBars/_common/move/shell_msys_move_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/move/shell_xmove_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/move/svn_or_shell_cygwin_move_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/move/svn_or_shell_move_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/move/svn_or_shell_move_paths_by_selection_list.bar -text
deploy/totalcmd/ButtonBars/_common/move/svn_or_shell_msys_move_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/move/svn_or_shell_xmove_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/notepad/notepad.bar -text
deploy/totalcmd/ButtonBars/_common/rename/git_or_shell_cygwin_rename_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/rename/git_or_shell_msys_rename_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/rename/git_or_shell_rename_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/rename/git_or_shell_rename_paths_by_selection_list.bar -text
deploy/totalcmd/ButtonBars/_common/rename/git_or_shell_xrename_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/rename/rename.bar -text
deploy/totalcmd/ButtonBars/_common/rename/shell_cygwin_rename_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/rename/shell_msys_rename_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/rename/shell_rename_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/rename/shell_rename_paths_by_selection_list.bar -text
deploy/totalcmd/ButtonBars/_common/rename/shell_xrename_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/rename/svn_or_shell_cygwin_rename_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/rename/svn_or_shell_msys_rename_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/rename/svn_or_shell_rename_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/rename/svn_or_shell_rename_paths_by_selection_list.bar -text
deploy/totalcmd/ButtonBars/_common/rename/svn_or_shell_xrename_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/saveload/edit/edit.bar -text
deploy/totalcmd/ButtonBars/_common/saveload/edit/edit_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/saveload/edit/edit_saveload_tabs.bar -text
deploy/totalcmd/ButtonBars/_common/saveload/load/load.bar -text
deploy/totalcmd/ButtonBars/_common/saveload/load/load_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/saveload/load/load_saveload_search.bar -text
deploy/totalcmd/ButtonBars/_common/saveload/load/load_saveload_tabs_left.bar -text
deploy/totalcmd/ButtonBars/_common/saveload/load/load_saveload_tabs_right.bar -text
deploy/totalcmd/ButtonBars/_common/saveload/read/read.bar -text
deploy/totalcmd/ButtonBars/_common/saveload/read/read_file_dir_names_to_saveload_list_wo_recur.bar -text
deploy/totalcmd/ButtonBars/_common/saveload/read/read_file_dir_paths_to_saveload_list_wo_recur.bar -text
deploy/totalcmd/ButtonBars/_common/saveload/read/read_file_empty_dir_names_to_saveload_list_wo_recur.bar -text
deploy/totalcmd/ButtonBars/_common/saveload/read/read_file_empty_dir_paths_to_saveload_list_wo_recur.bar -text
deploy/totalcmd/ButtonBars/_common/saveload/read/read_file_names_to_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/saveload/read/read_file_only_names_to_saveload_list_wo_recur.bar -text
deploy/totalcmd/ButtonBars/_common/saveload/read/read_file_only_paths_to_saveload_list_wo_recur.bar -text
deploy/totalcmd/ButtonBars/_common/saveload/read/read_file_paths_to_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/saveload/save/save.bar -text
deploy/totalcmd/ButtonBars/_common/saveload/save/save_file_names_to_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/saveload/save/save_file_paths_to_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/saveload/save/save_saveload_tabs_left.bar -text
deploy/totalcmd/ButtonBars/_common/saveload/save/save_saveload_tabs_right.bar -text
deploy/totalcmd/ButtonBars/_common/saveload/saveload.bar -text
deploy/totalcmd/ButtonBars/_common/saveload/select/select.bar -text
deploy/totalcmd/ButtonBars/_common/saveload/select/select_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/_common/svn/svn.bar -text
deploy/totalcmd/ButtonBars/_common/terminal/terminal32.bar -text
deploy/totalcmd/ButtonBars/_common/terminal/terminal32_cmd.bar -text
deploy/totalcmd/ButtonBars/_common/terminal/terminal32_conemu.bar -text
deploy/totalcmd/ButtonBars/_common/terminal/terminal6432.bar -text
deploy/totalcmd/ButtonBars/_common/terminal/terminal6432_cmd.bar -text
deploy/totalcmd/ButtonBars/_common/terminal/terminal6432_conemu.bar -text
deploy/totalcmd/ButtonBars/_common/video/video.bar -text
deploy/totalcmd/ButtonBars/_common/video/video_ffmpeg.bar -text
deploy/totalcmd/ButtonBars/_common/video/video_ffmpeg_concat_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/winxp/terminal/terminal32.bar -text
deploy/totalcmd/ButtonBars/winxp/terminal/terminal6432.bar -text
deploy/totalcmd/Profile/buttonbar32.ini.in -text
deploy/totalcmd/Profile/buttonbar6432.ini.in -text
deploy/totalcmd/Profile/buttonbar_cleanup.ini -text
deploy/totalcmd/Profile/usercmd.ini.in -text
deploy/totalcmd/Profile/usercmd_cleanup.ini -text
deploy/totalcmd/Profile/wincmd.ini.in -text
deploy/totalcmd/Profile/wincmd_cleanup.ini -text
dev/tools/icobundle/COPYING -text
dev/tools/icobundle/README.txt -text
dev/tools/icobundle/icobundl.exe -text
dev/tools/icobundle/icocheck.exe -text
docs/screenshots/toolbar_menu_sketch_1024x768_1.png -text
docs/screenshots/toolbar_menu_sketch_1024x768_2.png -text
docs/screenshots/toolbar_menu_sketch_1024x768_3.png -text
docs/screenshots/toolbar_menu_sketch_1024x768_4.png -text
docs/screenshots/toolbar_menu_sketch_1024x768_5.png -text
/license.txt -text
res/images/by_list.ico -text
res/images/compare/compare_paths.ico -text
res/images/compare/compare_paths_by_path_list.ico -text
res/images/compare/compare_paths_from_list.ico -text
res/images/compare/compare_paths_from_sorted_list.ico -text
res/images/compare/menu_compare_files.ico -text
res/images/copy/git_copy_files.ico -text
res/images/copy/menu_copy_files.ico -text
res/images/copy/shell_copy_file_to_files_by_list.ico -text
res/images/copy/shell_copy_files.ico -text
res/images/copy/svn_copy_files.ico -text
res/images/create/create_dirs.ico -text
res/images/create/create_dirs_by_path_list.ico -text
res/images/create/create_dirs_in_dirs_from_list.ico -text
res/images/create/create_empty_files.ico -text
res/images/create/create_empty_files_by_path_list.ico -text
res/images/create/create_empty_files_in_dirs_from_list.ico -text
res/images/create/menu_create_dirs_and_files.ico -text
res/images/menu.ico -text
res/images/menu_winxp.ico -text
res/images/move/git_move_files.ico -text
res/images/move/menu_move_files.ico -text
res/images/move/shell_move_files.ico -text
res/images/move/svn_move_files.ico -text
res/images/notepad/menu_notepad.ico -text
res/images/notepad/notepad_edit.ico -text
res/images/notepad/notepad_new.ico -text
res/images/notepad/notepad_new_to_save.ico -text
res/images/notepad/notepadpp_append.ico -text
res/images/notepad/notepadpp_edit.ico -text
res/images/rename/git_rename_files.ico -text
res/images/rename/menu_rename_files.ico -text
res/images/rename/shell_rename_files.ico -text
res/images/rename/svn_rename_files.ico -text
res/images/saveload/edit/edit_list.ico -text
res/images/saveload/edit/menu_edit_saveload_list.ico -text
res/images/saveload/load/load_list.ico -text
res/images/saveload/load/load_search.ico -text
res/images/saveload/load/menu_load_saveload_list.ico -text
res/images/saveload/load/menu_load_saveload_search.ico -text
res/images/saveload/load/menu_load_saveload_tabs.ico -text
res/images/saveload/menu_saveload.ico -text
res/images/saveload/read/menu_read_file_names_to_saveload_list.ico -text
res/images/saveload/read/menu_read_file_paths_to_saveload_list.ico -text
res/images/saveload/read/menu_read_to_saveload_list.ico -text
res/images/saveload/read/read_list.ico -text
res/images/saveload/save/menu_save_file_names.ico -text
res/images/saveload/save/menu_save_file_paths.ico -text
res/images/saveload/save/menu_save_saveload_list.ico -text
res/images/saveload/save/save_list.ico -text
res/images/saveload/select/menu_select_by_saveload_list.ico -text
res/images/saveload/select/select_list.ico -text
res/images/svn/menu_svn.ico -text
res/images/svn/separator_svn.ico -text
res/images/svn/svn_commit.ico -text
res/images/svn/svn_log.ico -text
res/images/svn/svn_project_monitor.ico -text
res/images/svn/svn_props.ico -text
res/images/svn/svn_repo_browser.ico -text
res/images/svn/svn_repo_status.ico -text
res/images/terminal/cmd/cmd32.ico -text
res/images/terminal/cmd/cmd32_admin.ico -text
res/images/terminal/cmd/cmd64.ico -text
res/images/terminal/cmd/cmd64_admin.ico -text
res/images/terminal/cmd/conemu_cmd32.ico -text
res/images/terminal/cmd/conemu_cmd32_admin.ico -text
res/images/terminal/cmd/conemu_cmd64.ico -text
res/images/terminal/cmd/conemu_cmd64_admin.ico -text
res/images/terminal/cygwin/cmd32.ico -text
res/images/terminal/cygwin/cmd32_admin.ico -text
res/images/terminal/cygwin/cmd64.ico -text
res/images/terminal/cygwin/cmd64_admin.ico -text
res/images/terminal/cygwin/conemu_cmd32.ico -text
res/images/terminal/cygwin/conemu_cmd32_admin.ico -text
res/images/terminal/cygwin/conemu_cmd64.ico -text
res/images/terminal/cygwin/conemu_cmd64_admin.ico -text
res/images/terminal/menu_cmd.ico -text
res/images/terminal/menu_cmd_winxp.ico -text
res/images/terminal/menu_conemu.ico -text
res/images/terminal/menu_terminal6432.ico -text
res/images/terminal/msys/cmd32.ico -text
res/images/terminal/msys/cmd32_admin.ico -text
res/images/terminal/msys/cmd64.ico -text
res/images/terminal/msys/cmd64_admin.ico -text
res/images/terminal/msys/conemu_cmd32.ico -text
res/images/terminal/msys/conemu_cmd32_admin.ico -text
res/images/terminal/msys/conemu_cmd64.ico -text
res/images/terminal/msys/conemu_cmd64_admin.ico -text
res/images/video/ffmpeg/concat/ffmpeg_concat_by_list.ico -text
res/images/video/ffmpeg/concat/ffmpeg_concat_by_list_microfilm.ico -text
res/images/video/ffmpeg/menu_ffmpeg.ico -text
res/images/video/menu_video.ico -text
res/images_dev/conemu1.ico -text
res/images_dev/conemu2.ico -text
res/images_dev/console_1_x32.ico -text
res/images_dev/console_1_x64.ico -text
res/images_dev/console_2_x32.ico -text
res/images_dev/console_2_x64.ico -text
res/images_dev/console_3_x32.ico -text
res/images_dev/console_3_x64.ico -text
res/images_dev/console_4_x32.ico -text
res/images_dev/console_4_x64.ico -text
res/images_dev/console_5_x32.ico -text
res/images_dev/console_5_x64.ico -text
res/images_dev/console_6_x32.ico -text
res/images_dev/console_6_x64.ico -text
res/images_dev/console_7_x32.ico -text
res/images_dev/console_7_x64.ico -text
res/images_dev/console_8_x32.ico -text
res/images_dev/console_8_x64.ico -text
res/images_dev/console_admin_1_x32.ico -text
res/images_dev/console_admin_1_x64.ico -text
res/images_dev/console_admin_2_x32.ico -text
res/images_dev/console_admin_2_x64.ico -text
res/images_dev/console_admin_3_x32.ico -text
res/images_dev/console_admin_3_x64.ico -text
res/images_dev/console_admin_4_x32.ico -text
res/images_dev/console_admin_4_x64.ico -text
res/images_dev/console_admin_5_x32.ico -text
res/images_dev/console_admin_5_x64.ico -text
res/images_dev/console_admin_6_x32.ico -text
res/images_dev/console_admin_6_x64.ico -text
res/images_dev/console_admin_7_x32.ico -text
res/images_dev/console_admin_7_x64.ico -text
res/images_dev/console_admin_8_x32.ico -text
res/images_dev/console_admin_8_x64.ico -text
res/images_dev/ffmpeg.png -text
res/images_dev/list.ico -text
res/images_dev/notepad_new.ico -text
res/images_dev/separator_svn.png -text
src/__init__/__init__.bat -text
src/_config/svn/svn_dir_props.lst -text
src/_config/svn/svn_file_props.lst -text
src/_config/svn/svn_props_to_edit.lst.in -text
src/_config/svn/svn_props_to_edit_all.lst.in -text
src/_config/svn/svn_props_to_sync.lst.in -text
src/scripts/__init__/__init__.bat -text
src/scripts/compare/__init__.bat -text
src/scripts/compare/compare_paths.bat -text
src/scripts/compare/compare_paths_by_list.bat -text
src/scripts/compare/compare_paths_from_list.bat -text
src/scripts/compare/compare_paths_from_stdin.bat -text
src/scripts/copy/__init__.bat -text
src/scripts/copy/copy_file_to_files_by_list.bat -text
src/scripts/create/__init__.bat -text
src/scripts/create/create_dirs_by_path_list.bat -text
src/scripts/create/create_dirs_in_dirs_from_list.bat -text
src/scripts/create/create_empty_files_by_path_list.bat -text
src/scripts/create/create_empty_files_in_dirs_from_list.bat -text
src/scripts/notepad/__init__.bat -text
src/scripts/notepad/notepad_edit_files.bat -text
src/scripts/notepad/notepad_edit_files_by_list.bat -text
src/scripts/notepad/notepad_new_session.bat -text
src/scripts/saveload/__init__.bat -text
src/scripts/saveload/edit_file_list.bat -text
src/scripts/saveload/read_file_list.bat -text
src/scripts/saveload/save_file_list.bat -text
src/scripts/scm/git/.shell_copy_by_list/shell_copy_by_list.xcopy_file_with_rename.bat -text
src/scripts/scm/git/.shell_move_by_list/shell_move_by_list.xmove_file_with_rename.bat -text
src/scripts/scm/git/__init__.bat -text
src/scripts/scm/git/git_copy_by_list.bat -text
src/scripts/scm/git/git_move_by_list.bat -text
src/scripts/scm/git/git_rename_by_list.bat -text
src/scripts/scm/shell/.shell_copy_by_list/shell_copy_by_list.xcopy_file_with_rename.bat -text
src/scripts/scm/shell/.shell_move_by_list/shell_move_by_list.xmove_file_with_rename.bat -text
src/scripts/scm/shell/__init__.bat -text
src/scripts/scm/shell/shell_copy_by_list.bat -text
src/scripts/scm/shell/shell_move_by_list.bat -text
src/scripts/scm/shell/shell_rename_by_list.bat -text
src/scripts/scm/svn/.shell_copy_by_list/shell_copy_by_list.xcopy_file_with_rename.bat -text
src/scripts/scm/svn/.shell_move_by_list/shell_move_by_list.xmove_file_with_rename.bat -text
src/scripts/scm/svn/.svn_edit_props_by_list/svn_edit_props_by_list.read_props.bat -text
src/scripts/scm/svn/.svn_edit_props_by_list/svn_edit_props_by_list.write_props.bat -text
src/scripts/scm/svn/__init__.bat -text
src/scripts/scm/svn/svn_copy_by_list.bat -text
src/scripts/scm/svn/svn_edit_props_by_list.bat -text
src/scripts/scm/svn/svn_externals_edit.bat -text
src/scripts/scm/svn/svn_move_by_list.bat -text
src/scripts/scm/svn/svn_rename_by_list.bat -text
src/scripts/scm/tortoisesvn/__init__.bat -text
src/scripts/scm/tortoisesvn/tortoiseproc.bat -text
src/scripts/scm/tortoisesvn/tortoiseproc_by_list.bat -text
src/scripts/scm/tortoisesvn/tortoiseproc_by_nested_wc.bat -text
src/scripts/scm/tortoisesvn/tortoiseproc_read_path_from_stdin.bat -text
src/scripts/terminal/.run_cmd/run_cmd.init.bat -text
src/scripts/terminal/.run_cygwin_bash/run_cygwin_bash.init.bat -text
src/scripts/terminal/.run_msys_bash/run_msys_bash.init.bat -text
src/scripts/terminal/__init__.bat -text
src/scripts/terminal/run_cmd.bat -text
src/scripts/terminal/run_cygwin_bash.bat -text
src/scripts/terminal/run_msys_bash.bat -text
src/scripts/video/__init__/__init__.bat -text
src/scripts/video/ffmpeg/__init__.bat -text
src/scripts/video/ffmpeg/ffmpeg_concat_by_list.bat -text
tools/gen_system_config.bat -text
tools/gen_user_config.bat -text
tools/load_config.bat -text
