* text=auto !eol
.github/FUNDING.yml -text
/Issues.txt -text
/README.md -text
/README_EN.txt -text
/TODO.txt -text
__init__/__init__.bat -text
__init__/__init__.sh -text
_config/config.0.vars.in -text
_config/config.system.vars.in -text
/_install.bat -text
/changelog.txt -text
deploy/totalcmd/ButtonBars/_menu.bar -text
deploy/totalcmd/ButtonBars/cmd.bar -text
deploy/totalcmd/ButtonBars/compare.bar -text
deploy/totalcmd/ButtonBars/compare_paths_to_saveload_list.bar -text
deploy/totalcmd/ButtonBars/copy.bar -text
deploy/totalcmd/ButtonBars/create.bar -text
deploy/totalcmd/ButtonBars/create_dirs_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/create_empty_files_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/edit.bar -text
deploy/totalcmd/ButtonBars/edit_saveload_list.bar -text
deploy/totalcmd/ButtonBars/ffmpeg_concat_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/git_or_shell_batcmd_copy_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/git_or_shell_copy_paths_by_edited_saveload_list.bar -text
deploy/totalcmd/ButtonBars/git_or_shell_copy_paths_by_edited_selection_list.bar -text
deploy/totalcmd/ButtonBars/git_or_shell_cygwin_copy_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/git_or_shell_move_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/git_or_shell_msys_copy_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/git_or_shell_rename_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/git_or_shell_xcopy_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/load.bar -text
deploy/totalcmd/ButtonBars/load_saveload_list.bar -text
deploy/totalcmd/ButtonBars/move.bar -text
deploy/totalcmd/ButtonBars/notepad.bar -text
deploy/totalcmd/ButtonBars/read.bar -text
deploy/totalcmd/ButtonBars/read_file_dir_names_to_saveload_list_wo_recur.bar -text
deploy/totalcmd/ButtonBars/read_file_dir_paths_to_saveload_list_wo_recur.bar -text
deploy/totalcmd/ButtonBars/read_file_empty_dir_names_to_saveload_list_wo_recur.bar -text
deploy/totalcmd/ButtonBars/read_file_empty_dir_paths_to_saveload_list_wo_recur.bar -text
deploy/totalcmd/ButtonBars/read_file_names_to_saveload_list.bar -text
deploy/totalcmd/ButtonBars/read_file_only_names_to_saveload_list_wo_recur.bar -text
deploy/totalcmd/ButtonBars/read_file_only_paths_to_saveload_list_wo_recur.bar -text
deploy/totalcmd/ButtonBars/read_file_paths_to_saveload_list.bar -text
deploy/totalcmd/ButtonBars/rename.bar -text
deploy/totalcmd/ButtonBars/save.bar -text
deploy/totalcmd/ButtonBars/save_file_names_to_saveload_list.bar -text
deploy/totalcmd/ButtonBars/save_file_paths_to_saveload_list.bar -text
deploy/totalcmd/ButtonBars/select.bar -text
deploy/totalcmd/ButtonBars/select_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/shell_batcmd_copy_file_to_files_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/shell_batcmd_copy_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/shell_copy_paths_by_edited_saveload_list.bar -text
deploy/totalcmd/ButtonBars/shell_copy_paths_by_edited_selection_list.bar -text
deploy/totalcmd/ButtonBars/shell_cygwin_copy_file_to_files_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/shell_cygwin_copy_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/shell_move_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/shell_msys_copy_file_to_files_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/shell_msys_copy_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/shell_rename_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/shell_xcopy_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/svn.bar -text
deploy/totalcmd/ButtonBars/svn_or_shell_batcmd_copy_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/svn_or_shell_copy_paths_by_edited_saveload_list.bar -text
deploy/totalcmd/ButtonBars/svn_or_shell_copy_paths_by_edited_selection_list.bar -text
deploy/totalcmd/ButtonBars/svn_or_shell_cygwin_copy_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/svn_or_shell_move_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/svn_or_shell_msys_copy_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/svn_or_shell_rename_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/svn_or_shell_xcopy_paths_by_saveload_list.bar -text
deploy/totalcmd/ButtonBars/video.bar -text
deploy/totalcmd/Profile/usercmd.ini -text
dev/tools/icobundle/COPYING -text
dev/tools/icobundle/README.txt -text
dev/tools/icobundle/icobundl.exe -text
dev/tools/icobundle/icocheck.exe -text
docs/screenshots/toolbar_menu.png -text
docs/screenshots/toolbar_menu_cmd3264.png -text
docs/screenshots/toolbar_menu_compare.png -text
docs/screenshots/toolbar_menu_copy.png -text
docs/screenshots/toolbar_menu_create.png -text
docs/screenshots/toolbar_menu_edit.png -text
docs/screenshots/toolbar_menu_ffmpeg_concat.png -text
docs/screenshots/toolbar_menu_load.png -text
docs/screenshots/toolbar_menu_move.png -text
docs/screenshots/toolbar_menu_notepad.png -text
docs/screenshots/toolbar_menu_read.png -text
docs/screenshots/toolbar_menu_rename.png -text
docs/screenshots/toolbar_menu_save.png -text
docs/screenshots/toolbar_menu_select.png -text
docs/screenshots/toolbar_menu_sketch_1024x768_1.png -text
docs/screenshots/toolbar_menu_sketch_1024x768_2.png -text
docs/screenshots/toolbar_menu_svn.png -text
/license.txt -text
res/images/by_list.ico -text
res/images/cmd/cmd32.ico -text
res/images/cmd/cmd32_admin.ico -text
res/images/cmd/cmd64.ico -text
res/images/cmd/cmd64_admin.ico -text
res/images/cmd/menu_cmd6432.ico -text
res/images/compare/compare_paths.ico -text
res/images/compare/compare_paths_black.ico -text
res/images/compare/compare_paths_by_path_list.ico -text
res/images/compare/compare_paths_from_list.ico -text
res/images/compare/compare_paths_from_list_black.ico -text
res/images/compare/compare_paths_from_sorted_list.ico -text
res/images/compare/menu_compare_files.ico -text
res/images/copy/git_copy_files.ico -text
res/images/copy/menu_copy_files.ico -text
res/images/copy/shell_copy_file_to_files_by_list.ico -text
res/images/copy/shell_copy_files.ico -text
res/images/copy/svn_copy_files.ico -text
res/images/create/create_dirs.ico -text
res/images/create/create_dirs_by_path_list.ico -text
res/images/create/create_dirs_in_dirs_from_list.ico -text
res/images/create/create_empty_files.ico -text
res/images/create/create_empty_files_by_path_list.ico -text
res/images/create/create_empty_files_in_dirs_from_list.ico -text
res/images/create/menu_create_dirs_and_files.ico -text
res/images/edit/edit_list.ico -text
res/images/edit/menu_edit_saveload_list.ico -text
res/images/load/load_list.ico -text
res/images/load/menu_load_saveload_list.ico -text
res/images/menu_save_load.ico -text
res/images/move/git_move_files.ico -text
res/images/move/menu_move_files.ico -text
res/images/move/shell_move_files.ico -text
res/images/move/svn_move_files.ico -text
res/images/notepad/menu_notepad.ico -text
res/images/notepad/menu_notepad.old.ico -text
res/images/notepad/notepad_edit.ico -text
res/images/notepad/notepad_edit.old.ico -text
res/images/notepad/notepad_new.ico -text
res/images/notepad/notepad_new_to_save.ico -text
res/images/notepad/notepad_new_to_save.old.ico -text
res/images/notepad/notepadpp_append.ico -text
res/images/notepad/notepadpp_append.old.ico -text
res/images/notepad/notepadpp_edit.ico -text
res/images/notepad/notepadpp_edit.old.ico -text
res/images/read/menu_read_file_names_to_saveload_list.ico -text
res/images/read/menu_read_file_paths_to_saveload_list.ico -text
res/images/read/menu_read_to_saveload_list.ico -text
res/images/read/read_list.ico -text
res/images/rename/git_rename_files.ico -text
res/images/rename/menu_rename_files.ico -text
res/images/rename/shell_rename_files.ico -text
res/images/rename/svn_rename_files.ico -text
res/images/save/menu_save_file_names.ico -text
res/images/save/menu_save_file_paths.ico -text
res/images/save/menu_save_saveload_list.ico -text
res/images/save/save_list.ico -text
res/images/select/menu_select_by_saveload_list.ico -text
res/images/select/select_list.ico -text
res/images/svn/menu_svn.ico -text
res/images/svn/separator_svn.ico -text
res/images/svn/svn_commit.ico -text
res/images/svn/svn_log.ico -text
res/images/svn/svn_project_monitor.ico -text
res/images/svn/svn_props.ico -text
res/images/svn/svn_repo_browser.ico -text
res/images/svn/svn_repo_status.ico -text
res/images/video/ffmpeg/ffmpeg_concat_by_list.ico -text
res/images/video/menu_video.ico -text
res/images_dev/compare_files.png -text
res/images_dev/compare_sorted_files.png -text
res/images_dev/console_1_x32.ico -text
res/images_dev/console_1_x64.ico -text
res/images_dev/console_2_x32.ico -text
res/images_dev/console_2_x64.ico -text
res/images_dev/console_3_x32.ico -text
res/images_dev/console_3_x64.ico -text
res/images_dev/console_4_x32.ico -text
res/images_dev/console_4_x64.ico -text
res/images_dev/console_5_x32.ico -text
res/images_dev/console_5_x64.ico -text
res/images_dev/console_6_x32.ico -text
res/images_dev/console_6_x64.ico -text
res/images_dev/console_7_x32.ico -text
res/images_dev/console_7_x64.ico -text
res/images_dev/console_8_x32.ico -text
res/images_dev/console_8_x64.ico -text
res/images_dev/console_admin_1_x32.ico -text
res/images_dev/console_admin_1_x64.ico -text
res/images_dev/console_admin_2_x32.ico -text
res/images_dev/console_admin_2_x64.ico -text
res/images_dev/console_admin_3_x32.ico -text
res/images_dev/console_admin_3_x64.ico -text
res/images_dev/console_admin_4_x32.ico -text
res/images_dev/console_admin_4_x64.ico -text
res/images_dev/console_admin_5_x32.ico -text
res/images_dev/console_admin_5_x64.ico -text
res/images_dev/console_admin_6_x32.ico -text
res/images_dev/console_admin_6_x64.ico -text
res/images_dev/console_admin_7_x32.ico -text
res/images_dev/console_admin_7_x64.ico -text
res/images_dev/console_admin_8_x32.ico -text
res/images_dev/console_admin_8_x64.ico -text
res/images_dev/create_dirs.png -text
res/images_dev/create_dirs_in_dirs.png -text
res/images_dev/ffmpeg.png -text
res/images_dev/icon_move_files.png -text
res/images_dev/icon_rename_files.png -text
res/images_dev/list.ico -text
res/images_dev/notepad_new.ico -text
res/images_dev/separator_svn.png -text
src/__init__.bat -text
src/_config/svn/svn_dir_props.lst -text
src/_config/svn/svn_file_props.lst -text
src/_config/svn/svn_props_to_edit.lst.in -text
src/_config/svn/svn_props_to_edit_all.lst.in -text
src/_config/svn/svn_props_to_sync.lst.in -text
src/scripts/__init__.bat -text
src/scripts/__init__/__init__.bat -text
src/scripts/compare/__init__.bat -text
src/scripts/compare/compare_paths.bat -text
src/scripts/compare/compare_paths_by_list.bat -text
src/scripts/compare/compare_paths_from_list.bat -text
src/scripts/compare/compare_paths_from_stdin.bat -text
src/scripts/converters/ffmpeg/__init__.bat -text
src/scripts/converters/ffmpeg/ffmpeg_convert_by_list.bat -text
src/scripts/copy/__init__.bat -text
src/scripts/copy/copy_file_to_files_by_list.bat -text
src/scripts/create/__init__.bat -text
src/scripts/create/create_dirs_by_path_list.bat -text
src/scripts/create/create_dirs_in_dirs_from_list.bat -text
src/scripts/create/create_empty_files_by_path_list.bat -text
src/scripts/create/create_empty_files_in_dirs_from_list.bat -text
src/scripts/notepad/__init__.bat -text
src/scripts/notepad/notepad_edit_files.bat -text
src/scripts/notepad/notepad_edit_files_by_list.bat -text
src/scripts/notepad/notepad_new_session.bat -text
src/scripts/saveload/__init__.bat -text
src/scripts/saveload/edit_file_list.bat -text
src/scripts/saveload/read_file_list.bat -text
src/scripts/saveload/save_file_list.bat -text
src/scripts/scm/git/__init__.bat -text
src/scripts/scm/git/git_copy_by_list.bat -text
src/scripts/scm/git/git_move_by_list.bat -text
src/scripts/scm/git/git_rename_by_list.bat -text
src/scripts/scm/shell/.shell_copy_by_list/shell_copy_by_list.xcopy_file_with_rename.bat -text
src/scripts/scm/shell/__init__.bat -text
src/scripts/scm/shell/shell_copy_by_list.bat -text
src/scripts/scm/shell/shell_move_by_list.bat -text
src/scripts/scm/shell/shell_rename_by_list.bat -text
src/scripts/scm/svn/__init__.bat -text
src/scripts/scm/svn/svn_copy_by_list.bat -text
src/scripts/scm/svn/svn_edit_props_by_list.bat -text
src/scripts/scm/svn/svn_externals_edit.bat -text
src/scripts/scm/svn/svn_move_by_list.bat -text
src/scripts/scm/svn/svn_rename_by_list.bat -text
src/scripts/scm/tortoisesvn/__init__.bat -text
src/scripts/scm/tortoisesvn/tortoiseproc.bat -text
src/scripts/scm/tortoisesvn/tortoiseproc_by_list.bat -text
src/scripts/scm/tortoisesvn/tortoiseproc_by_nested_wc.bat -text
src/scripts/scm/tortoisesvn/tortoiseproc_read_path_from_stdin.bat -text
